div{
    width: 100px;
    height: 100px;
    background: lightblue;
}
p {
    width: 100px;
    height: 100px;
    background: lightseagreen;
}
section{
    width:200px;
    height:200px;
    background: lightgreen;
}